//- product.pug
tr
    td #{product.name}
    td #{product.quantity}
    td 
        span(class="badge bg-secondary") #{product.unit}
    td #{product.value}
    td
        button(class="btn btn-primary" hx-get=`/edit-form/${product.id}`) Edit
    td
        button(class="btn btn-danger" hx-delete=`/lists/${product.GroceryListId}/products/${product.id}`) Delete
