//- lists.pug
DOCTYPE(html)
html(lang='en')
    head
        meta(charset='UTF-8')
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title Manage Grocery Lists
        link(href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous")
        link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css")
        link(rel="stylesheet" type="text/css" href="css/style.css")

        script(src="https://unpkg.com/hyperscript.org@0.9.11")
        script(src="https://unpkg.com/htmx.org@1.9.6" integrity="sha384-FhXw7b6AlE/jyjlZH5iHa/tTe9EpJ1Y55RjcgPbjeWMskSxZt1v9qkxLJWNJaGni" crossorigin="anonymous")
    body
        nav(class="flex nav")
            i(class="bi bi-basket")
            h1(class="h1 mb-0") MPI

        div(class="container py-4 px-3 mx-auto")
            h2 Manage Grocery Lists

            //- Form to create a new grocery list
            form(
                hx-post="/lists"
                hx-swap="beforeend"
                hx-target="#grocery-lists"
                class="mb-3 needs-validation"
                _="on htmx:afterRequest target.reset()"
            )
                input(
                    placeholder="List Name"
                    type="text"
                    name="name"
                    class="form-control mb-3"
                    required
                )
                button(type="submit" class="btn btn-info") Create List

            //- Table to display all grocery lists
            table(class="table table-striped")
                thead
                    tr
                        th(class="table-secondary") List Name
                        th(class="table-secondary") Actions
                tbody(id="grocery-lists")
                    each list in groceryLists
                        tr
                            td #{list.name}
                            td
                                button(class="btn btn-primary" hx-get=`/lists/${list.id}`) View
                                button(class="btn btn-danger" hx-delete=`/lists/${list.id}`) Delete

        script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-4dd4RhZ3Q71TJlEQ1L3rV6Mo1uEb5OKpbKBeqHPm7mcZxj3gtG33By5l2GMNm0Xt" crossorigin="anonymous")
